@import "partials/reset";
@import "partials/variables";
@import "partials/fonts";
@import "partials/extend";
@import "partials/mixins";



/* ESTILOS GENERALES*/

header {
    @include sizes(100%, 200px);
    background-image: url(../media/fondo-1.jpg);
    background-position: 0;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: xx-large;
    padding: $relleno;
}

.titulo-principal {
    font-family: "tires", serif;
    text-align: right;
    font-size: 3em;
}

.navbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(53deg, rgba(2, 0, 36, 1) 0%, rgba(34, 113, 11, 1) 0%, rgba(62, 217, 13, 1) 0%, rgba(245, 249, 250, 1) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;

    .botones a,
    ul a {
        color: black;

        li {
            padding: 8px;
            @include listas(inline, center);
        }
    }
}

.botones a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 10px;
}

a {
    color: black;
}

a {
    &:link {
        text-decoration: none;
        text-align: center;

    }

    &:hover {
        background-color: rgb(209, 248, 209);
        color: black;
    }
}

@import "partials/conditionals";

body {
    background-color: $temporada;
}


.parrafos {
    @include parrafos;
    animation-duration: 2s;
    animation-name: animTexto;
    margin: 20px;

    @keyframes animTexto {
        from {
            margin-left: 100%;
            width: 100%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }
}

.footer-container {
    color: $colornormal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: $fuentechica;
    padding: $relleno;

    .card-body {
        background-color: lightgreen;
    }
}


/* INDEX */

.carousel-item img.custom {
    height: 400px;
    object-fit: cover;
}


/* DONDE ESTAMOS */

.mapa {
    padding: 20px 400px 20px 400px;
    display: flex;
}



/* PRODUCTOS */

.gallery img {
    border-radius: 30px;
    padding: 15px;
    filter: brightness();
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
        filter: brightness();
        -webkit-filter: brightness(100%);
    }
}






/* NUESTRA MISION */

.videos {
    padding: 10px;
    margin: 10px;
    text-align: center;
}


/* CONTACTO */

.formulario {
    padding: 60px;
    text-align: left;

    .form-control {
        background-color: lightcyan;
    }

    .botones-formulario {
        text-align: center;
    }
}

@import "partials/queries";